<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudTapBaseURL</key>
	<string>https://yaxpwhimwktqqxyzitao.supabase.co/functions/v1</string>
	<key>SupabaseAnonKey</key>
	<string>sb_publishable_zEvJDeQVlAOGutSLGt_yVA_E1ZFhA1E</string>
	<key>SupabaseURL</key>
	<string>https://yaxpwhimwktqqxyzitao.supabase.co</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>WELCOME_MANIFEST_ENDPOINT</key>
	<string>https://yaxpwhimwktqqxyzitao.supabase.co/functions/v1/welcome-manifest</string>
	<key>WISDOM_STEPS_ENDPOINT</key>
	<string>https://yaxpwhimwktqqxyzitao.supabase.co/functions/v1/wisdom-steps</string>
	<key>COMPASSION_STEPS_ENDPOINT</key>
	<string>https://yaxpwhimwktqqxyzitao.supabase.co/functions/v1/compassion-steps</string>
</dict>
</plist>
